.DS_Store
node_modules
dist
*.tsbuildinfo


# local env files
.env.local
.env.*.local
.env.test
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/.pnp
.pnp.js

coverage

.DS_Store

app/build
app/src/routeTree.gen.ts
app/playwright-report
app/test-results
.generated

compose.test.yml
