body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  transition: all 0.15s ease-in-out;
}

i.bi {
  aspect-ratio: initial;
  font-size: 1.2em;
}

footer * {
  transition: initial;
}

footer i {
  font-size: 1.7em;
  transition: all 0.15s ease-in-out !important;
}

.no-select,
.no-select * {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-select {
  cursor: default;
}

#player-list .list-group-item {
  transition: background-color 0.3s ease-out;
}

#player-list .list-group-item:active {
  background-color: var(--bs-danger-bg-subtle) !important;
  transition: background-color 0.1s;
}

.min-width-max-content {
  min-width: max-content;
}

.text-overflow-ellipsis {
  text-overflow: ellipsis;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

$navbar-padding-y: 0.2rem;

// Import all of Bootstrap's SCSS
$bootstrap-icons-font-dir: 'bootstrap-icons/font/fonts';
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';
@import 'float';
@import 'glitch';
