h1.glitch {
  font-family: 'Audiowide', sans-serif;
  font-weight: 800;
  font-style: normal;
  position: relative;
  font-size: 60px;
  padding: 10px;
}

h1.glitch.glitch-small {
  font-size: 30px;
}

h1.glitch::before,
h1.glitch::after {
  content: var(--glitch-text, 'Glitch');
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  padding: inherit;
}

h1.glitch::before {
  left: 2px;
  text-shadow: -2px 0 red;
  animation: glitch-animation 3s linear 0s infinite alternate;
}

h1.glitch::after {
  left: -2px;
  text-shadow: 2px 0 blue;
  animation: glitch-animation 3s linear 0s infinite alternate-reverse;
}

@keyframes glitch-animation {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i/$steps)} {
      clip: rect(calc(random(150) * 1px), 400px, calc(random(150) * 1px), 30px);
    }
  }
}

