h1.glitch {
  font-family: 'Audiowide', sans-serif;
  font-weight: 800;
  font-style: normal;
  position: relative;
  font-size: 60px;
  padding: 10px;
}

h1.glitch.glitch-small {
  font-size: 30px;
}

h1.glitch::before,
h1.glitch::after {
  content: var(--glitch-text, 'Glitch');
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  padding: inherit;
}

h1.glitch::before {
  left: 2px;
  text-shadow: -1px 0 red;
  animation-name: glitch-animation-1;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}

h1.glitch::after {
  left: -2px;
  text-shadow: -1px 0 blue;
  animation-name: glitch-animation-2;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: reverse-alternate;
}

@keyframes glitch-animation-1 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(150) + px, 400px, random(150) + px, 30px);
    }
  }
}

@keyframes glitch-animation-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      clip: rect(random(150) + px, 400px, random(150) + px, 30px);
    }
  }
}
