h1.glitch {
  font-family: 'Audiowide', sans-serif;
  font-weight: 800;
  font-style: normal;
  position: relative;
  font-size: 60px;
}

h1.glitch.glitch-sm {
  font-size: 30px;
}

h1.glitch::before,
h1.glitch::after {
  content: var(--glitch-text, 'Glitch');
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  padding: inherit;
}

h1.glitch::before {
  left: 0.03em;
  text-shadow: -0.03em 0 red;
  animation: glitch-animation-1 3s linear 0s infinite alternate;
}

h1.glitch::after {
  left: -0.03em;
  text-shadow: 0.03em 0 blue;
  animation: glitch-animation-2 3s linear 0s infinite alternate;
}

@keyframes glitch-animation-1 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i/$steps)} {
      clip: rect(random(150) + px, 400px, random(150) + px, 0);
    }
  }
}

@keyframes glitch-animation-2 {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i/$steps)} {
      clip: rect(random(150) + px, 400px, random(150) + px, 0);
    }
  }
}
