@keyframes toastFadeOut {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.toast-container .toast {
  animation: toastFadeOut var(--toast-duration, 5s) ease-in-out forwards;
}
